@font-face { font-family: copse; src: url('copse.woff'); }

body {
	background: #f4f5e7 url('bg.png') no-repeat top right !important;
	color: #222;
	font-family: copse, sans-serif;
	padding: 5%;
}

.container { font-size: 300%; }
.inputbox , .button { font-size: 70%; }
.textbox { height: 360px; width: 580px; }

a, a:visited, a:active { color: #179c3f; text-decoration: none; }
a:hover { text-decoration: underline; }

footer {
	clear: both;
	color: #999;
	font-size: 40%;
	padding: 1em;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
