<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>blck.cf</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>blck.cf</h1>
        <p>Create a one-click expiring link</p>
    <div>
    <div class="form">
        <form method="post" action="/s">
        <input type="url" name="url" id="url" class="inputbox" placeholder="http://blck.cf" required autofocus></input>
        <input type="submit" class="button"></input>
        </form>
    </div>

    <footer>
        with &lt;3 by <a href="https://parazyd.cf">parazyd</a> | <a href="https://github.com/parazyd/blck.cf">source</a>
    </footer>
</body>
</html>
